
.hero{
  margin-bottom: 10%;

}
.nav .navl{
  font-weight: bold;
  font-size: large;
}
.pname{
  text-decoration: none;
  color: whitesmoke;
}
.pname:hover{
  color: black;
  transition-duration: 300ms;
  transition-delay:200ms;
}

.nav{
  background-color: #F6BD00;
}
.nav .d-inline-block {
  font-weight: bold;
  font-size: 100px;
}
.nav .d-flex{
  background-color:#1e1e1e ;
  color: white;
  border-color: #1e1e1e;
  margin-left: 10px;
  margin-right: 10px;
  
}
.nav .d-flex:hover{
  background-color: #2C2B2B;
  border-color: #2C2B2B;
}


.hero .card-title ,.about .card-title{
  letter-spacing: 1px;
  color: #00000091;
  line-height: 1.8;
  font-size: 2.5rem;

}


.hero .card-text, .about .card-text{
  letter-spacing: 2px;
  font-size: 18px;
  color: #00000091;
  line-height: 1.8;
  margin-bottom: 2.5rem;

}

.hero .btns {
  width: 60%;
  margin-top: 16px;
  background-color:#1e1e1e ;
  border-color: #1e1e1e;
}

.heroImg{
  width: 100%;
  height: 85%;
  display: block;
  margin: 3rem 0 3rem 3rem;
}


.aboutImg {
  width: 90%;
  height: 90%;
  display: block;

}

.circle::before {
  content: "";
  position: absolute;
  top: -10;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #FFC100;
  z-index: -1;
}

.why-royal {
  font-size: 40px;
  text-align: left;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #ccc;
}

.card-why {
  width: 75%;
  margin: 10px 2.5%;
  font-size: 15px;
  text-align: left;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #ccc;
  border-radius: 10px;
  border:none;
  
}

Card.Title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-basic {
  padding:40px 0;
  background-color:#DDDDDD;
  color:#4b4c4d;
}



.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 80px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding:15px 20px;
  margin-bottom: 0.5em;
  
}

.social-icons a {
  margin-right: 0.5em;
}

.social-icons img {
  width: 32px;
  height: 32px;
  border-radius:50%;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.flexbox {
  background: linear-gradient(155deg, white, white, white);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: black;
  margin-bottom: 15px;
  text-shadow: 0 1px black;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px black);
}

/* .search > div:after {
  content: "";
  background: grey;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
} */

.search > div > input {
  color: black;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px black;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: grey;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 570px;
  height: 60px
}

.sub-main{
  width: 100%;
  margin:22px;
  float: left;
}

.button-three {
  position: relative;
  background-color: grey;
  border: none;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.button-three:hover{
 background:#fff;
 box-shadow:0px 2px 10px 5px #97B1BF;
 color:#000;
}

.button-three:after {
  content: "";
  background: black;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button-three:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}



