

.text-right {
     text-align: right;
     font-weight: bold;
   }

.header-custom {
     font-size: 1.5rem;
     color:whitesmoke;
   }

   .text-left {
     text-align: left;
     
   }
 .rounded-3{
    overflow: auto;
   }

   .btn{
    background-color: #65441A;
    border-color: whitesmoke;

  
   }
 .btn:hover{
    background-color: whitesmoke;
    border-color:#65441A;
    color: #65441A;
  
   }

 #resF{
   background-color:  #AA894E;
   }
.text-muted{
    color: black !important;
 }
 .custom-width{
 width: 1300px;
 }