.form-control{
    min-width: 200px;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.form-label {
    margin-bottom: 0.5rem;
    align-self: flex-end;
}