.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-section, .contact-section, .rating-section {
  width: 33%;
  text-align: center;
}

.photo-section {
  width: 200px;
  border-radius: 50%;
}

.stars {
  display: flex;
}

.stars i {
  color: #FDB45E;
  font-size: 24px;
  margin-right: 5px;
}


@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes counter-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 


/* .imgbg{


  background-image: 
} */
.text-right {
  text-align: right;
  font-weight: bold;
}

.header-custom {
  font-size: 1.5rem;
  color:whitesmoke;
}

.text-left {
  text-align: left;
  
}
.rounded-3{
 overflow: auto;
}

.btn{
 background-color: #65441A;
 border-color: whitesmoke;


}
.btn:hover{
 background-color: whitesmoke;
 border-color:#65441A;
 color: #65441A;

}

#resF{
background-color:  #AA894E;
}
.text-muted{
 color: black !important;
}
.custom-width{
width: 1300px;
}


